
<div class='survey-list' width='100%'>
  {{#each surveys as |survey|}}
  <div class='survey-{{survey.id}} survey'>
    <h1><a href='#survey-dashboard' id="{{survey.id}}" class="survey-dashboard-link lead">{{survey.name}}</a></h1>
    <input type='button' value='Delete' id='survey-delete-{{survey.id}}' class='delete-survey'>
  </div>
  <hr>
  {{/each}}
</div>
