$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'color';

body {
  background: url('../img/questions-over-globe.jpg') center opacity: 0.2;
  display: block;
  margin: 0px;
  padding: 0px;
  border:none;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  outline:none;
  color: #f0720a;
}
